{% extends './user.html' %}

{% load static %}
{% load replace %}

{% block conteudo_dashboard %}
<div class="d-flex justify-content-between pb-2">
    <h2>Haras<h2>
    <a href="{% url 'cadastrar-haras' %}" class="btn btn-primary"><div class="d-flex align-items-center"><i class="fas fa-add fa-sm fa-fw text-gray-600 me-1"></i> Cadastrar Haras</div></a>
</div>

{% if todos_cavalos_usuario_EM_ANALISE %}
<div class="pb-2">
    <h2>Haras em análise para aprovação administrativa<h2>
</div>
<div>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for haras in todos_cavalos_usuario_EM_ANALISE %}
        <div class="col d-flex justify-content-center">
            <div class="card shadow-sm" style="width: 18rem;">
                <img 
                id="object-em_analise-{{haras.pk}}" data-url="{% url 'visualizar-haras' haras.pk haras.nome|replace:' |-' %}" onclick="navigateToObject('em_analise', {{haras.pk}})"
                src={{haras.logo.url}} class="card-img-top" alt="haras" role="button" style="height: 140px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{haras.nome}}</h5>
                    <p class="card-text">
                        <span class="max-lines mb-2">
                        {{haras.descricao}}
                        </span>
                    </p>
                    {% include "components/status_badget_view.html" with status=haras.status %}
                </div>
                <div class="card-footer">
                    <p class="card-text d-flex justify-content-between">
                        <a href="{% url 'editar-haras' haras.pk %}" class="btn btn-warning"><i class="fas fa-edit fa-sm fa-fw"></i></a>
                        <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeletar" data-bs-id="{{haras.pk}}" data-url="{% url 'deletar-'|add:'haras' haras.pk %}"><i class="fas fa-trash fa-sm fa-fw "></i></a>
                        {% include "components/modal_deletar.html" with objectclass_name='o haras' %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if todos_cavalos_usuario_NAO_EM_ANALISE %}
<div class="pb-2">
    <h2>Haras cadastrados</h2>
</div>
<div>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        {% for haras in todos_cavalos_usuario_NAO_EM_ANALISE %}
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img 
                id="object-nao_em_analise-{{haras.pk}}" data-url="{% url 'visualizar-haras' haras.pk haras.nome|replace:' |-' %}" onclick="navigateToObject('nao_em_analise', {{haras.pk}})"
                src={{haras.logo.url}} class="card-img-top" alt="haras" role="button" style="height: 140px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">{{haras.nome}}</h5>
                    <p class="card-text">
                        <span class="max-lines mb-2">
                        {{haras.descricao}}
                        </span>
                    </p>
                    {% include "components/status_badget_view.html" with status=haras.status %}
                </div>
                 <div class="card-footer">
                    <p class="card-text d-flex justify-content-between">
                        <a href="{% url 'editar-haras' haras.pk %}" class="btn btn-warning"><i class="fas fa-edit fa-sm fa-fw"></i></a>
                        <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDeletar" data-bs-id="{{haras.pk}}" data-url="{% url 'deletar-'|add:'haras' haras.pk %}"><i class="fas fa-trash fa-sm fa-fw "></i></a>
                        {% include "components/modal_deletar.html" with objectclass_name='o haras' %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if not todos_cavalos_usuario_EM_ANALISE and not todos_cavalos_usuario_NAO_EM_ANALISE %}
<h4>Você não possui Haras cadastrados</h4>
{% endif %}

{% endblock %}

{% block scripts%}
<script>
    function navigateToObject(unique_id, id) {
        let card = document.getElementById("object-" + unique_id + "-" + id)
        dataUrl = card.getAttribute("data-url")
        window.location.assign(dataUrl);
    }
</script>
{% endblock %}