{% extends './admin.html' %}

{% load static %}
{% load to_list %}

{% block conteudo_dashboard %}
<div class="mb-4">
    
    {% if todos_cavalos_em_analise %}
    <div class="pb-2">
        <h2>Cavalos pendentes de aprovação<h2>
    </div>
    {% endif %}
    <div>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            {% to_list 'EM ANÁLISE' 'VENDIDO' as desabilitar %}
            {% for cavalo in todos_cavalos_em_analise %}
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img 
                        id="object-em_analise-{{cavalo.obj.cavalo.pk}}" data-url="{% url 'visualizar-cavalo' cavalo.obj.cavalo.pk %}" onclick="navigateToObject('em_analise', {{cavalo.obj.cavalo.pk}})"
                        src={{cavalo.obj.imagens.0.imagem.url}} class="card-img-top" alt="cavalo" role="button" style="height: 140px; object-fit: contain;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{cavalo.obj.cavalo.nome}}</h5>
                        <p class="card-text">
                            <span class="max-lines mb-2">
                                {{cavalo.obj.cavalo.descricao}}
                            </span>
                        </p>
                        <div class="h-100 d-flex align-items-end">
                            {% include "components/status_badget.html" with objectclass='cavalo' id=cavalo.obj.cavalo.pk status=cavalo.obj.cavalo.status desabilitar_list=desabilitar %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small class="text-muted">Modificado em {{cavalo.obj.cavalo.modificado_em|date:'d/m/Y'}} às {{cavalo.obj.cavalo.modificado_em|date:'H:i'}}</small></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="mb-2">
    
    {% if todos_cavalos_aprovados_reprovados %}
    <div class="pb-2">
        <h2>Cavalos Aprovados e Reprovados<h2>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-5 g-4">
            {% to_list 'APROVADO' as desabilitar %}
            {% for cavalo in todos_cavalos_aprovados_reprovados %}
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img 
                        id="object-aprovado-{{cavalo.obj.cavalo.pk}}" data-url="{% url 'visualizar-cavalo' cavalo.obj.cavalo.pk %}" onclick="navigateToObject('aprovado', {{cavalo.obj.cavalo.pk}})"
                        src={{cavalo.obj.imagens.0.imagem.url}} class="card-img-top" alt="cavalo" role="button" style="height: 140px; object-fit: contain;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{cavalo.obj.cavalo.nome}}</h5>
                            <p class="card-text">
                                <span class="max-lines mb-2">
                                    {{cavalo.obj.cavalo.descricao}}
                                </span>
                            </p>
                            <div class="h-100 d-flex align-items-end">
                                {% include "components/status_badget.html" with objectclass='cavalo' id=cavalo.obj.cavalo.pk status=cavalo.obj.cavalo.status desabilitar_list=desabilitar %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="card-text"><small class="text-muted">Modificado em {{cavalo.obj.cavalo.modificado_em|date:'d/m/Y'}} às {{cavalo.obj.cavalo.modificado_em|date:'H:i'}}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

<div class="mb-2">
    {% if todos_cavalos_vendidos %}
    <div class="pb-2">
        <h2>Cavalos Vendidos<h2>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-5 g-4">
            {% to_list 'REPROVADO' 'EM ANÁLISE' as desabilitar %}
            {% for cavalo in todos_cavalos_vendidos %}
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img 
                        id="object-aprovado-{{cavalo.obj.cavalo.pk}}" data-url="{% url 'visualizar-cavalo' cavalo.obj.cavalo.pk %}" onclick="navigateToObject('aprovado', {{cavalo.obj.cavalo.pk}})"
                        src={{cavalo.obj.imagens.0.imagem.url}} class="card-img-top" alt="cavalo" role="button" style="height: 140px; object-fit: contain;">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{cavalo.obj.cavalo.nome}}</h5>
                            <p class="card-text">
                                <span class="max-lines mb-2">
                                    {{cavalo.obj.cavalo.descricao}}
                                </span>
                            </p>
                            <div class="h-100 d-flex align-items-end">
                                {% include "components/status_badget.html" with objectclass='cavalo' id=cavalo.obj.cavalo.pk status=cavalo.obj.cavalo.status desabilitar_list=desabilitar %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="card-text"><small class="text-muted">Modificado em {{cavalo.obj.cavalo.modificado_em|date:'d/m/Y'}} às {{cavalo.obj.cavalo.modificado_em|date:'H:i'}}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>

{% endblock %}

{% block scripts%}
<script>
    function navigateToObject(unique_id, id) {
        let card = document.getElementById("object-" + unique_id + "-" + id)
        dataUrl = card.getAttribute("data-url")
        window.location.assign(dataUrl);
    }
</script>
{% endblock %}