{% extends 'layout.html' %}

{% load static %}

{% block conteudo %}
    <div class="container bg-light py-2 rounded-1">
        <img src="/media/header-haras.png" style="width: 100%; max-height: 350px; object-fit: cover; object-position: 50% 10%;">
        <div class="row">

            <div class="container col-8 d-flex flex-column mt-3 mb-3">
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="mb-2">
                            <h2 class="mb-2">{{haras.nome}}</h2>
                            <div class="d-flex bg-light border rounded text-center px-2 fw-bold align-self-center" style="width: fit-content;">
                                <div><i class="fas fa-location-dot fa-xs fa-fw"></i></div>
                                <span>{{haras.cidade.nome}} - {{haras.cidade.estado.nome}} ({{haras.cidade.estado.sigla}})</span>
                            </div>
                        </div>
                        <div>
                            <div class="box-descricao">
                                <p class="text-muted mb-1">{{haras.descricao}}</p>
                            </div>
                            <a id="veja-mais" href="javascript:void(0)" class="show-btn text-muted mb-1">Veja mais</a>
                        </div>
                    </div>

                    <div class="col-6 d-flex gap-3 justify-content-end">
                        <div class="bg-white border rounded-2 py-2 px-4 d-flex flex-column align-items-center justify-content-center" style="max-height: 70px;">
                            <span>Cavalos a Venda</span>
                            <span><b>{{quandidade_todos_cavalos_haras}}</b></span>
                        </div>
                        <div class="bg-white border rounded-2 py-2 px-4 d-flex flex-column align-items-center justify-content-center" style="max-height: 70px;">
                            <span>Cavalos Vendidos</span>
                            <span><b>{{quandidade_cavalos_vendidos}}</b></span>
                        </div>
                    </div>
                </div>

                <div>
                    <h4 class="mb-2">ANIMAIS CADASTRADOS</h4>
                    <div class="row row-cols-4" style="row-gap: 16px">
                        {% for cavalo in cavalos %}
                            <div class="col d-flex justify-content-center">
                                <div id="object-{{cavalo.obj.cavalo.pk}}" class="card" style="width: 18rem;" data-url="{% url 'visualizar-cavalo' cavalo.obj.cavalo.pk %}" onclick="navigateToCavaloObject({{cavalo.obj.cavalo.pk}})" role="button">
                                    <img src={{cavalo.obj.imagens.0.imagem.url}} class="card-img-top" alt="cavalo" style="height: 140px; object-fit: contain;">

                                    <div class="card-body">
                                        <div class="mb-1">
                                            <h5 class="h5 card-title mb-0">{{cavalo.obj.cavalo.nome}}</h5>
                                            <div class="card-text text-muted">
                                                {{cavalo.obj.cavalo.raca.nome}}
                                            </div>
                                        </div>
                                        <div class="card-text text-muted">
                                            {{cavalo.obj.cavalo.cidade.nome}} - {{cavalo.obj.cavalo.cidade.estado.sigla}}
                                        </div>
                                         <a href="{% url 'visualizar-cavalo' cavalo.obj.cavalo.pk %}" class="btn btn-primary">Mais detalhes</a>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            Nenhum cavalo cadastrado
                        {% endfor %}
                        </div>
                </div>
            </div>

            <div class="container d-flex flex-column gap-2" style="width: 340px; margin-top: -100px;">
                <div>
                <img id="logo" src={{haras.logo.url}} class="card-img-top" alt="haras" role="button" style="height: 220px; object-fit: contain; filter: drop-shadow(0 0 0.5rem white);">
                </div>
                <div class="bg-light p-2 rounded-3 bg-dark bg-opacity-10">
                    <div class="row">
                        <div class="row row-cols-1">
                            <div class="col">
                                <h4><strong>{{haras.nome}}</strong></h4>
                            </div>
                            <div class="col mt-1">
                                <strong>{{haras.cidade.nome}}, {{haras.cidade.estado.nome}}</strong>
                            </div>
                            <div class="col mt-1">
                                <strong>Contato:</strong>
                            </div>
                            <div class="col">
                                <div>
                                    <span class="telefone">{{haras.telefone_primario}}</span> (telefone primário)
                                </div>
                                {% if haras.telefone_secundario %}
                                <div>
                                    <span class="telefone">{{haras.telefone_secundario}}</span> (telefone secundário)
                                </div>
                                {% endif %}
                            </div>
                            <div class="col mt-1">
                                <strong>Proprietario:</strong>
                            </div>
                            <div class="col">
                                {{haras.proprietario.perfil.nome_completo}}
                            </div>
                            <div class="col mt-1">
                                <strong>Criado em:</strong>
                            </div>
                            <div class="col">
                                {{haras.criado_em|date:'d/m/Y'}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>
        .box-descricao {
            max-height: 3rem;
            margin-bottom: 0;
            overflow: hidden;
            font-size: 13px !important;
            line-height: 25px !important;
            font-family: "Poppins", sans-serif;
            transition: all 1s;
            clear: both;
        }

        .box--more-mode {
            max-height: initial;
        }
    </style>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script>
        $(".show-btn").on("click", function () {
            $(".box-descricao").toggleClass("box--more-mode");
            $("#veja-mais").hide()
        });
        $(document).ready(function() {
            $('.valor').mask('#.##0,00', {reverse: true});
            $('.telefone').mask((val) => { return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009' });
        })
    </script> 
{% endblock %}