{% extends 'layout.html' %}

{% load static %}

{% load replace %}
{% load query_transform %}

{% block conteudo %}
<div>
    Imagem
    <div class="bg-light">
        <div class="container d-flex flex-column justify-content-center py-4">
            <div class="d-flex justify-content-center pb-2">
                <h4>Filtrar animais</h4>
            </div>
            <form id="index-form" action="?" method="GET">
                <div class="row justify-content-center" style="row-gap: 12px;">
                    <div class="col-4">
                        <label class="text-muted" for="filtro-raca">Raça</label>
                        <select class="form-select" name="raca" id="filtro-raca">
                            <option value></option>
                            {% for raca in racas %}
                                {% if request.GET.raca|replace:"_| "|lower == raca.nome|lower %}
                                    <option selected value={{raca.nome|lower|replace:" |_"}}>{{raca.nome}}</option>
                                {% else %}
                                    <option value={{raca.nome|lower|replace:" |_"}}>{{raca.nome}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4">
                        <label class="text-muted" for="filtro-pelagem">Pelagem</label>
                        <select class="form-select" name="pelagem" id="filtro-pelagem">
                            <option value></option>
                            {% for pelagem in pelagens %}
                                {% if request.GET.pelagem|replace:"_| "|lower == pelagem.nome|lower %}
                                    <option selected value={{pelagem.nome|lower|replace:" |_"}}>{{pelagem.nome}}</option>
                                {% else %}
                                    <option value={{pelagem.nome|lower|replace:" |_"}}>{{pelagem.nome}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                     <div class="col-4">
                        <label class="text-muted" for="filtro-genero">Gênero</label>
                        <select class="form-select" name="genero" id="filtro-genero">
                            <option value></option>
                            {% for genero in generos %}
                                {% if request.GET.genero|replace:"_| "|lower == genero.tipo|lower %}
                                    <option selected value={{genero.tipo|lower|replace:" |_"}}>{{genero.tipo}}</option>
                                {% else %}
                                    <option value={{genero.tipo|lower|replace:" |_"}}>{{genero.tipo}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4">
                        <label class="text-muted" for="filtro-habilidade">Habilidade</label>
                        <select class="form-select" name="habilidade" id="filtro-habilidade">
                            <option value></option>
                            {% for habilidade in habilidades %}
                                {% if request.GET.habilidade|replace:"_| "|lower == habilidade.tipo|lower %}
                                    <option selected value={{habilidade.tipo|lower|replace:" |_"}}>{{habilidade.tipo}}</option>
                                {% else %}
                                    <option value={{habilidade.tipo|lower|replace:" |_"}}>{{habilidade.tipo}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success">Aplicar filtro</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="py-3">
            <h2>Cavalos</h2>
        </div>
        <div>
            <div class="row row-cols-1 row-cols-md-5 g-4">
                {% for cavalo in cavalos %}
                <div class="col d-flex justify-content-center">
                    <div id="object-{{cavalo.obj.cavalo.pk}}" class="card" style="width: 18rem;" data-url="{% url 'visualizar-cavalo' cavalo.obj.cavalo.pk %}" onclick="navigateToCavaloObject({{cavalo.obj.cavalo.pk}})" role="button">
                        <img src={{cavalo.obj.imagens.0.imagem.url}} class="card-img-top" alt="cavalo" style="height: 140px; object-fit: contain;">

                        <div class="card-body">
                            <div class="mb-1">
                                <h5 class="h5 card-title mb-0">{{cavalo.obj.cavalo.nome}}</h5>
                                <div class="card-text text-muted">
                                    {{cavalo.obj.cavalo.raca.nome}}
                                </div>
                            </div>
                            <div class="card-text text-muted">
                                {{cavalo.obj.cavalo.cidade.nome}} - {{cavalo.obj.cavalo.cidade.estado.sigla}}
                            </div>
                            <div class="card-text"><h4 class="h4">R$ {{cavalo.obj.cavalo.preco}}</h4></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <nav class="mt-3">
            <ul class="pagination justify-content-end">
                {% if cavalos_page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ cavalos_page.previous_page_number }}">
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                {% endif %}
                        Anterior
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link active">
                        Pagina: {{cavalos_page.number}} de {{cavalos_page.paginator.num_pages}}
                    </a>
                </li>

                {% if cavalos_page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_transform request page=cavalos_page.next_page_number %}">
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">
                {% endif %}
                        Próxima
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>
{% endblock %}

{% block scripts%}
<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'js/jquery.mask.min.js' %}"></script>
<script>
     $(document).ready(function() {
        $("#index-form").submit(function() {
            if($("#filtro-raca").val()=="") {
                $("#filtro-raca").attr("disabled", "disabled");
            }
            if($("#filtro-pelagem").val()=="") {
                $("#filtro-pelagem").attr("disabled", "disabled");
            }
            if($("#filtro-genero").val()=="") {
                $("#filtro-genero").attr("disabled", "disabled");
            }
            if($("#filtro-habilidade").val()=="") {
                $("#filtro-habilidade").attr("disabled", "disabled");
            }
        });
     });
    function navigateToCavaloObject(id) {
        let card = document.getElementById("object-" + id)
        dataUrl = card.getAttribute("data-url")
        window.location.assign(dataUrl);
    }
</script>
{% endblock %}