{% load static %}

<button id="dropdown-{{id}}" type="button" class="badge btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    {% if status|upper == 'APROVADO'%}
        <i class="me-1 fas fa-check fa-sm fa-fw"></i><span>{{status}}</span></i>
        {% elif status|upper == 'EM ANÁLISE'%}
        <i class="me-1 fas fa-clock fa-sm fa-fw"></i><span>{{status}}</span></i>
        {% elif status|upper == 'VENDIDO'%}
        <i class="me-1 fas fa-wallet fa-sm fa-fw"></i><span>{{status}}</span></i>
        {% elif status|upper == 'REPROVADO'%}
        <i class="me-1 fas fa-xmark fa-sm fa-fw"></i><span>{{status}}</span></i>
    {% endif %}
</button>
<ul class="dropdown-menu">
    <li>
        {% with dynamic_app_url='aprovar-'|add:'cavalo' %}
        <a id="analise-{{id}}" class="dropdown-item d-flex align-items-center" style="column-gap: 6px;" href="{% url 'alterar-status-'|add:objectclass pk=id status='EM ANÁLISE' %}">
            <div style="height: 10px; width: 10px" class="bg-info"></div>
            Em Análise
        </a>
        {% endwith %}
    </li>
    <li>
        <a id="reprovar-{{id}}" class="dropdown-item d-flex align-items-center" style="column-gap: 6px;" href="{% url 'alterar-status-'|add:objectclass pk=id status='REPROVADO' %}">
            <div style="height: 10px; width: 10px" class="bg-danger"></div>
            Reprovar
        </a>
    </li>
    <li>
        <a id="aprovado-{{id}}" class="dropdown-item d-flex align-items-center" style="column-gap: 6px;" href="{% url 'alterar-status-'|add:objectclass pk=id status='APROVADO' %}">
            <div style="height: 10px; width: 10px" class="bg-primary"></div>
            Aprovar
        </a>
    </li>
    <li>
        {% with urlss=objectitem %}
        <a id="vendido-{{id}}" class="dropdown-item d-flex align-items-center" style="column-gap: 6px;" href="{% url 'alterar-status-'|add:objectclass pk=id status='VENDIDO' %}">
            <div style="height: 10px; width: 10px" class="bg-success"></div>
            Vendido
        </a>
        {% endwith %}
    </li>
</ul>

<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script>
    switch('{{status}}') {
        case 'EM ANÁLISE': 
            $('#dropdown-{{id}}').addClass('btn-info')
            $('#analise-{{id}}').addClass('bg-info text-white disabled')
            break;
            case 'REPROVADO': 
            $('#dropdown-{{id}}').addClass('btn-danger')
            $('#reprovar-{{id}}').addClass('bg-danger text-white disabled')
            $('#vendido-{{id}}').addClass('visually-hidden')
            break;
            case 'APROVADO': 
            $('#dropdown-{{id}}').addClass('btn-primary')
            $('#aprovado-{{id}}').addClass('bg-primary text-white disabled')
            break;
            case 'VENDIDO': 
            $('#dropdown-{{id}}').addClass('btn-success')
            $('#vendido-{{id}}').addClass('bg-success text-white disabled')
            break;
    }

    {% for desabilitar in desabilitar_list %}
        switch('{{desabilitar}}') {
            case 'EM ANÁLISE': 
                $('#analise-{{id}}').addClass('visually-hidden')
                break;
            case 'REPROVADO': 
                $('#reprovar-{{id}}').addClass('visually-hidden')
                break;
            case 'APROVADO': 
                $('#aprovado-{{id}}').addClass('visually-hidden')
                break;
            case 'VENDIDO': 
                $('#vendido-{{id}}').addClass('visually-hidden')
                break;
        }
    {% endfor %}
</script>